@model IEnumerable<PostItDemo.Models.PostIt>

@{
    ViewData["Title"] = "PostIts";
}

<h1>PostIts</h1>


<h2>What do you want to Post?</h2>
<partial name="_PostForm" model="new PostIt()" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author.Handle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uploaded)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.Handle)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uploaded)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PostItId" model="@item" class="btn">Edit</a>
                <form asp-action="Delete" asp-route-id="@item.PostItId">
                    <input type="hidden" asp-for="@item.PostItId" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}